* {
    font-family: 'New Tegomin', serif;
    transition: .5s linear;
}

h1 {
    font-weight: 700;
    text-align: center;
    color: rgb(20, 39, 24);
    font-size: 66px;
    text-shadow: 3px 5px 6px rgb(228, 10, 10);
}

body {
    background: url('depositphotos_84209904-stock-photo-modern-wooden-fence-background.jpg') no-repeat;
    background-size: cover;
}

.container-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(168, 157, 157);
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 34px;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-result {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgb(71, 17, 17);
    opacity: 0.7;
}

.result {
    position: relative;
    font-size: 100px;
    top: 100px;
    left: 0;
    z-index: 1000;
    color: white;
}

.btn {
    text-align: center;
    width: 175px;
    height: 100px;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

.btn:focus {
    outline: none;
}



/* preloader */



.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 35px rgba(0,0,0, 1);
  }
  .preloader-bg {
    position: absolute;
    top: -70px;
    right: -70px;
    bottom: -70px;
    left: -70px;
    background: url('bgpreloader.jpg') center center no-repeat;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
  }
  
.cross-person {
    position: absolute;
    top: 190px;
    left: 600px;
    width: 100px;
    height: 100px;
    background-image: url('icons8-xbox-x-100.png');
}

.x-name {
    left: 600px;
}

.zero-person {
    position: absolute;
    top: 190px;
    right: 600px;
    width: 100px;
    height: 100px;
    background-image: url('icons8-круг-100-2.png');
}

.o-name {
    right: 600px;
}

.persons-block {
    display: flex;
    margin-left: 100px;
}

.name {
    position: absolute;
    top: 300px;
    width: 100px;
    height: 25px;
    background: white;
}

.start-btn {
    position: relative;
    top: 150px;
    right: 100px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

.start-btn:hover {
    cursor: pointer;
}

.start-btn:focus {
    outline: none;
}

.players-counter-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    font-size: 100px;
}